@import 'bootstrap';

body {
  background-color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-align: center;
  margin: 3rem;
}

/* Nav */

nav {
  background-color: #3778c2;
}

.nav-link,
.navbar-brand {
  color: white;
  margin-left: 10px;
}

.navbar-toggler {
  color: white;
}

/* Splash screen */
.app-title {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  color: white;
}

.splash-container {
  background-color: #3778c2;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  margin: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-top: 2rem;
  font-size: 15px;
  color: white;
}

.sub-sub {
  font-size: 12px;
  color: white;
}

.sign-up,
.log-in {
  margin-bottom: 0.5rem;
  background-color: #33b93a;
  width: 15rem;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sign-up {
  border: none;
}

.sign-up:hover {
  background-color: #237f27;
}

.log-in {
  background-color: #3068a5;
  border: 1px solid #3068a5;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
  height: 36px;
}

.log-in:hover {
  background-color: #769fce;
  color: white;
}

.log {
  border-radius: 0%;
  height: 3rem;
}

.notice,
.alert {
  padding: 0;
  margin: 0;
}

/* sign up */

.sign-up-title,
.log-in-title {
  color: white;
  font-weight: 100;
  text-align: center;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background: rgb(55, 119, 193);
  background: linear-gradient(
    180deg,
    rgba(55, 119, 193, 1) 0%,
    rgba(43, 94, 153, 1) 100%
  );
}

.arrow-back {
  color: white;
  font-size: 30px;
  font-weight: 100;
  justify-self: center;
}

.new-sign-up {
  margin-top: 1rem;
  background-color: #33b93a;
  border: none;
  width: 20rem;
}

.new-sign-up:hover {
  background-color: #237f27;
}

.log-new {
  margin-top: 10px;
  text-align: center;
}

.form-control {
  width: 20rem;
  margin: 10px 0;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.actions {
  text-align: center;
}

/* Groups/categories */

.fixed-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success {
  width: 25rem;
  height: 6rem;
  background-color: #33b93a;
  font-size: 20px;
  border: none;
}

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.get-started {
  margin: 2rem 1rem 25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.category-card {
  margin: 5px;
  padding: 10px;
  border: 2px solid gainsboro;
  background-color: white;
  width: 25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.category-icon {
  justify-self: center;
}

.icon {
  width: 7rem;
  height: 7rem;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.top-card,
.bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link-to {
  margin-top: 2rem;
}

.category-name {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  color: #434b54;
}

.learn {
  font-size: 15px;
  color: lightslategray;
}

.user {
  font-size: 12px;
}

/* transactions */

.transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.transaction-card {
  margin: 5px;
  padding: 10px;
  border: 2px solid gainsboro;
  background-color: white;
  width: 25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

@media only screen and (max-width: 600px) {
  .transaction-card {
    width: 25rem;
  }

  .category-card {
    width: 25rem;
  }

  .logo {
    width: 18rem;
  }

  .date {
    font-size: 10px;
  }

  .fixed-button {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-success {
    width: 100vw;
    height: 6rem;
    background-color: #33b93a;
    font-size: 22px;
    border: none;
    position: relative;
  }

  .butt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.transactions-title {
  display: flex;
  padding: 10px;
  gap: 7rem;
  border: 2px solid gainsboro;
  background-color: white;
  margin-bottom: 2rem;
}

.parr {
  margin: 0;
}

.name-amount {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 15px;
  margin-bottom: 8px;
}

.date {
  font-size: 12px;
  display: flex;
  justify-content: left;
}

.but {
  margin-top: 2rem;
}
